@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Oswald', sans-serif;
}   
.container{
    width: 80%;
        margin: 0 auto;
        padding: 20px 0;
        box-shadow: 5px 5px 5px whitesmoke;
} 
/* =====-- Header start ===== */
    header {
        display: flex;
        justify-content: space-between;
    }

    .navber ul {
        display: flex;
        justify-self: start;
    }
    .navber ul li {
        list-style-type: none;
        text-decoration: none;
    }
    .navber ul li a{
        margin-right: 10px;
        padding: 5px 10px;
        font-size: 25px;
        margin-left: 0;
        text-transform: capitalize;
    }
    /* =====-- Header End ===== */

    /* =====-- Text and camera start ===== */

    .influencer{
        display: flex;
        justify-content: space-between;
        padding: 30px 0;
        margin-bottom: 20px;
    }

    .influencer-text {
        width: 40%;
         justify-content: center;
         align-items: center;
    }

    .camara-photo{
        width: 40%;
        /* background-image: url('images/background-image.png');
        background-repeat: no-repeat; */
    }
    .camara-photo img{
        width: 80%;
    }

    .influencer-text h1{
        font-size: 30px;
    }
    .influencer-text p {
        font-size: 18px;
        margin-top: 10px;
    }
    .influencer-text button{
        font-size: 20px;
        padding: 8px 24px;
        border-radius: 10px;
        background-color: #E02C6D;
        border: none;
        margin-top: 15px;
    }
    .influencer-text button i{ 
        margin-left:10px ;
        color: white;
    }
    /* =====-- Text and camera End ===== */

    /* =====-- Companys logo Start ===== */

    .companys-logo{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-top: 20px;
    }
    .company-logo{
         display: flex;
         flex-direction: row-reverse;
         justify-content: space-around;
    }
    
    .top-line, .bottom-line{
        width: 80%;
        margin: 0 auto;
        height: 1px;
        background-color: rgba(65, 63, 63, 0.164);
    }

   
    /* =====-- Companys logo End ===== */

    /* =====-- Collection list start ===== */
    /* =====-- Collection list End ===== */

    /* =====-- Ownself Design start ===== */
    /* =====-- Ownself Design End ===== */

    /* =====-- Footer Start ===== */
    /* =====-- Footer End ===== */